{% extends "::base.html.twig" %}

{% block title %}{% trans %}document.edit.title{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h1>{% trans %}document.edit.title{% endtrans %}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}document.edit.button.save{% endtrans %}" class="save button"/>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
