{% extends "::base.html.twig" %}
{% block body %}
<h1>Add a new document</h1>

<form action="{{ path('legislator_new') }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input type="submit" value="Add document" class="btn"/>
</form>
{% endblock %}
