{% extends '::base.html.twig' %}

{% block title %}Legislator{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns"></div>
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
